@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
html, body{
  font-family: 'Roboto', sans-serif;
}
.cardImg{
  width: 200px;
  height: 150px;
  object-fit: cover;
}
.horizontalCard{
  flex-direction: row;
  height: 150px;
}
.textWrapper{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap:break-word; 
  line-height: 1.2em;
  height: 2.5em;
}
p{
  margin: 0;
}
.date{
  font-size: 14px;
}
.card{
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.055);
  border-radius: 10px;
  margin: 10px 0;
}
.cardBody{
  padding: 25px;
  overflow: hidden;
}
.symbolImg{
  width: 30px;
  height: 30px;
}
.summaryTitle{
  margin: 0;
  padding: 0;
  display: flexbox;
}
.card>.list-group:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.card>.list-group:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.list-group-item {
  display: flex;
  justify-content: space-between;
  border: none rgba(0,0,0,.125);
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.list-group-item:last-child {
  border: none rgba(0,0,0,.125);
}
.summaryTitleWrapper{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.table{
  margin-bottom: 0;
}
td:first-child{
  border-style: none;
}
tr:last-child{
  border-style: none;
}
td:last-child{
  border-style: none;
}
.financialNav{
  display: flex;
}
.category{
  font-weight: bold;
}
.pagination{
  margin: 30px 0 0 30px;
}
.news{
  cursor: pointer;
}
.shortName{
  display: none;
}
@media screen and (min-width : 576px) {
  .shortName{
    display: inline;
  }
}
.chartWrapper{
  text-align: center;
}
.logo{
  width: 30px;
  height: 30px;
  margin-right: 5px;
}